:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

  body {
    font-family: 'Merriweather Sans', sans-serif;

    color: var(--text-color);
    background-color: var(--body-bg-color);
    
    box-sizing: border-box;
  }

  .container {
    box-sizing: border-box;
    display: flex;
  }

  aside {
    margin: 2%;
    margin-bottom: 11%;

    box-sizing: border-box;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 30% 1fr 1fr;
    grid-template-areas: "profile"
                         "links"
                         "tecnologias"
                         "experiencias"
                         "educacao";
    gap: 2%;

                        } 

  .profile {
    width: 348px;
    height: 292px;

    border-radius: 20px;

    grid-area: profile;

    background-color: var(--bg-cards);

    box-sizing: border-box;
  }

  .profile img {
    height: 100px;
    width: 90px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 13%;

    border-radius: 100%;
    border: solid 2px green;
  }

  .profile h2 {
    text-align: center;
    margin-top: 10%;
  }

  .profile p {
    text-align: center;
    margin-top: -5%;
  }

  .links{
    width: 348px;
    height: auto;

    border-radius: 20px;

    grid-area: links;

    background-color: var(--bg-cards);
    
    box-sizing: border-box;

    position: absolute;
  }

  .linksFormatacao {
    margin: 10%;
    padding: 0px;
    border: 0px;
  }

  .tecnologias {
    width: 348px;
    height: 208px;

    border-radius: 20px;

    grid-area: tecnologias;

    background-color: var(--bg-cards);
  }

  .experiencias {
    width: 348px;
    height: 349px;

    border-radius: 20px;

    grid-area: experiencias;

    background-color: var(--bg-cards);
  }

  .educacao {
    width: 348px;
    height: 349px;

    border-radius: 20px;

    grid-area: educacao;

    background-color: var(--bg-cards);
  }

  main {
    margin: 0.7%;
    
    box-sizing: border-box;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "meusProjetos meusProjetos"
                        "projeto1 projeto2"
                         "tituloPostRecente tituloPostRecente"
                         "post post";
                        
    }

  .meusProjetos {
    margin-top: 2%;
    margin-bottom: 3%;
    
    width: 860px;
    height: 86px;

    box-sizing: content-box;

    border-radius: 20px;

    grid-area: meusProjetos;

    background-color: var(--bg-cards);
  }

  .meusProjetos h2 {
    margin: 0px;
    padding-left: 2%;
    
    top: 10%;

    position: absolute;
  }

  .meusProjetos p {
    margin: 0px;

    top: 10.5%;
    right: 8%;
    
    position: absolute;
  }

  .projetosFlex {
    box-sizing: border-box;
    
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "projeto1 projeto2";

    gap: 3%;
    margin-bottom: 3%;
  }

  .projeto1 {
    width: auto;
    height: 186px;

    border-radius: 20px;

    grid-area: projeto1;

    background-color: var(--bg-cards);
  }

  .projeto2 {
    width: auto;
    height: 186px;

    border-radius: 20px;

    grid-area: projeto2;

    background-color: var(--bg-cards);
  }

  .tituloPostRecente {
    width: auto;
    height: 86px;

    box-sizing: border-box;
    
    margin-bottom: 3%;

    border-radius: 20px;

    grid-area: tituloPostRecente;

    background-color: var(--bg-cards);
  }

  .tituloPostRecente h2 {
    margin: 0px;
    padding: 4.4vh;
  }
  
  .post {
    width: auto;
    height: 201px;

    border-radius: 20px;

    grid-area: post;

    background-color: var(--bg-cards);
  }